<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
  </head>
  <body>
    <form action="/signup" method="post">
      <h2>註冊</h2>
      <div>
        <label for="">Email:</label>
        <input type="email" name="email">
      </div>
      <div>
        <label for="">Password:</label>
        <input type="password" name="passwd">
      </div>
      <div>
        <label for="">nickname:</label>
        <input type="text" name="nickname">
      </div>
      <div>
        <input type="submit" value="註冊">
      </div>
      <%- errorMsg %>
    </form>
  </body>
</html>